<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/system_file.xsd">
    <system>
        <tab id="mobilelogin" translate="label" sortOrder="100">
            <label>Magecomp Extensions</label>
        </tab>
        <section id="mobilelogin_Configuration" showInDefault="1">
			 <tab>mobilelogin</tab>
             <label>mobilelogin</label>
          	 <resource>Magecomp_Mobilelogin::mobilelogin</resource>
			 <group id="moduleoption" showInDefault="1">
					<label>Mobilelogin Configuration Options</label>
					<field id="enable" type="select" showInDefault="1" sortOrder="0" showInWebsite="1" showInStore="1">
						<label>Enable</label>
						<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				   </field>
			 </group>
        </section>
    </system>
</config>