<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="kikinben_sellercategory" frontName="kikinben_sellercategory">
            <module name="Kikinben_SellerCategory"/>
        </route>
    </router>
</config>
