<?xml version="1.0"?>
<!-- 
/**
 * Apptha
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.apptha.com/LICENSE.txt
 *
 * ==============================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * ==============================================================
 * This package designed for Magento COMMUNITY edition
 * Apptha does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * Apptha does not provide extension support in case of
 * incorrect edition usage.
 * ==============================================================
 *
 * @category    Apptha
 * @package     Apptha_Marketplace
 * @version     1.1
 * @author      Apptha Team <developers@contus.in>
 * @copyright   Copyright (c) 2016 Apptha. (http://www.apptha.com)
 * @license     http://www.apptha.com/LICENSE.txt
 *
 */
! -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
  <menu>
  <!-- <add id="Kikinben_AdvancedCommission::kikinben_advancedcommission_menu" title="Manage Advance Commission" module="Kikinben_AdvancedCommission" sortOrder="9" parent="Apptha_Marketplace::main_menu" action="kikinben_advancedcommission/index/index" resource="Kikinben_AdvancedCommission::top" />-->
  <add id="Kikinben_AdvancedCommission::kikinben_advancedcommission_menu" title="Manage Advance Commission" module="Kikinben_AdvancedCommission" sortOrder="9" parent="Apptha_Marketplace::main_menu"  resource="Kikinben_AdvancedCommission::top" />
  <add id="Kikinben_AdvancedCommission::kikinben_advancedcommission_menu_sellers" title="Manage seller's Commission" module="Kikinben_AdvancedCommission" sortOrder="10" parent="Kikinben_AdvancedCommission::kikinben_advancedcommission_menu" action="kikinben_advancedcommission/index/index" resource="Magestore_CustomMenu::menu_item"/>

<add id="Kikinben_AdvancedCommission::kikinben_advancedcommission_menu_reports" title="View Commission Report" module="Kikinben_AdvancedCommission" sortOrder="11" parent="Kikinben_AdvancedCommission::kikinben_advancedcommission_menu" action="kikinben_advancedcommission/reports/index" resource="Magestore_CustomMenu::menu_item"/>


 </menu>
</config>
